<body>
  <nav class="navbar">
    <div class="navdiv">
      <div class="logo">
          <button><b>ANGULAR</b></button>
      </div>
      <ul>
        <li><button (click)="Login()"><b>Login</b></button></li>
        <li><button (click)="Register()"><b>Register</b></button></li>
        <li><button (click)="DashBoard()"><b>Dashboard</b></button></li>
        <li><button (click)="MaterialDemo()"><b>Material UI Demo</b></button></li>
      </ul>
    </div>
  </nav>
  <br>
  <router-outlet></router-outlet>
</body>


